.delivery-adress {
  .delivery-country {
    width: calc(50% - 5px);
    margin-bottom: 0;
  }

  &__city,
  &__state,
  &__street,
  &__apartament,
  &__zip {
    width: calc(50% - 5px);
  }

  &__zip input {
    text-transform: uppercase;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &__input {
    border: 1px solid white;
    border-radius: 30px;
  }
}

@media screen and (max-width: 767px) {
  .delivery-adress {
    &__row {
      margin-bottom: 20px;
      flex-direction: column;
    }

    .delivery-country {
      width: 100%;
      max-width: 100%;
      margin-bottom: 10px;
    }

    &__city,
    &__state,
    &__street,
    &__apartament,
    &__zip {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
