<div data-v-ed96aad8="" data-v-2e8d133d="" id="CtkDatePicker" class="datepicker-container">
  <div data-v-ed96aad8="" class="datepicker-controls">

    <div data-v-ed96aad8="" class="datepicker-container-label"><span data-v-ed96aad8="">
        <div data-v-ed96aad8="" class="datepicker-label fs-16">Feb 2020</div>
      </span></div>

    <div class="datepicker__inner">

      <div data-v-ed96aad8="" class="arrow-month">
        <button data-v-ed96aad8="" type="button" tabindex="-1" class="datepicker-button datepicker-prev">
          <svg data-v-ed96aad8="" height="7" viewBox="0 0 5 7">
            <path data-v-ed96aad8=""
              d="M4.9873 6.1775L2.51497 3.5L4.9873 0.8225L4.22617 0L0.987305 3.5L4.22617 7L4.9873 6.1775Z" fill="white">
            </path>
          </svg>
        </button>
      </div>

      <div data-v-ed96aad8="" class="arrow-month">
        <button data-v-ed96aad8="" type="button" tabindex="-1" class="datepicker-button datepicker-next">
          <svg data-v-ed96aad8="" class="datepicker-next__icon" height="7" viewBox="0 0 5 7">
            <path data-v-ed96aad8=""
              d="M4.9873 6.1775L2.51497 3.5L4.9873 0.8225L4.22617 0L0.987305 3.5L4.22617 7L4.9873 6.1775Z" fill="white">
            </path>
          </svg>
        </button>
      </div>

    </div>
  </div>

  <div data-v-ed96aad8="" class="datepicker-week">
    <div data-v-ed96aad8="" class="text-muted fs-12">
      sun
    </div>
    <div data-v-ed96aad8="" class="text-muted fs-12">
      mon
    </div>
    <div data-v-ed96aad8="" class="text-muted fs-12">
      tue
    </div>
    <div data-v-ed96aad8="" class="text-muted fs-12">
      wed
    </div>
    <div data-v-ed96aad8="" class="text-muted fs-12">
      thu
    </div>
    <div data-v-ed96aad8="" class="text-muted fs-12">
      fri
    </div>
    <div data-v-ed96aad8="" class="text-muted fs-12">
      sat
    </div>
  </div>

  <div data-v-ed96aad8="" class="month-container" style="height: 210px;">
    <span data-v-ed96aad8="">
      <div data-v-ed96aad8="" class="datepicker-days">

        <button data-v-ed96aad8="" class="datepicker-day">
        </button>

        <button data-v-ed96aad8="" type="button" tabindex="-1" class="datepicker-day enable">
          <!----><span data-v-ed96aad8="" class="datepicker-day-effect">
          </span>

          <span data-v-ed96aad8="" class="datepicker-day-text">1
          </span>
        </button>

        <button data-v-ed96aad8="" type="button" tabindex="-1"
          class="datepicker-day flex align-center justify-content-center enable">
          <!----><span data-v-ed96aad8="" class="datepicker-day-effect">
          </span>

          <span data-v-ed96aad8="" class="datepicker-day-text">2
          </span>
        </button>

        <button data-v-ed96aad8="" type="button" tabindex="-1"
          class="datepicker-day flex align-center justify-content-center enable">
          <!----><span data-v-ed96aad8="" class="datepicker-day-effect">
          </span>

          <span data-v-ed96aad8="" class="datepicker-day-text">3
          </span>
        </button>

        <button data-v-ed96aad8="" type="button" tabindex="-1"
          class="datepicker-day flex align-center justify-content-center enable">
          <!----><span data-v-ed96aad8="" class="datepicker-day-effect">
          </span>

          <span data-v-ed96aad8="" class="datepicker-day-text">4</span>
        </button><button data-v-ed96aad8="" type="button" tabindex="-1"
          class="datepicker-day flex align-center justify-content-center enable">
          <!----><span data-v-ed96aad8="" class="datepicker-day-effect"></span><span data-v-ed96aad8=""
            class="datepicker-day-text">5</span>
        </button><button data-v-ed96aad8="" type="button" tabindex="-1"
          class="datepicker-day flex align-center justify-content-center enable">
          <!----><span data-v-ed96aad8="" class="datepicker-day-effect"></span><span data-v-ed96aad8=""
            class="datepicker-day-text">6</span>
        </button><button data-v-ed96aad8="" type="button" tabindex="-1"
          class="datepicker-day flex align-center justify-content-center enable">
          <!----><span data-v-ed96aad8="" class="datepicker-day-effect"></span><span data-v-ed96aad8=""
            class="datepicker-day-text">7</span>
        </button><button data-v-ed96aad8="" type="button" tabindex="-1"
          class="datepicker-day flex align-center justify-content-center enable">
          <!----><span data-v-ed96aad8="" class="datepicker-day-effect"></span><span data-v-ed96aad8=""
            class="datepicker-day-text">8</span>
        </button><button data-v-ed96aad8="" type="button" tabindex="-1"
          class="datepicker-day flex align-center justify-content-center enable">
          <!----><span data-v-ed96aad8="" class="datepicker-day-effect"></span><span data-v-ed96aad8=""
            class="datepicker-day-text">9</span>
        </button><button data-v-ed96aad8="" type="button" tabindex="-1"
          class="datepicker-day flex align-center justify-content-center enable">
          <!----><span data-v-ed96aad8="" class="datepicker-day-effect"></span><span data-v-ed96aad8=""
            class="datepicker-day-text">10</span>
        </button><button data-v-ed96aad8="" type="button" tabindex="-1"
          class="datepicker-day flex align-center justify-content-center enable">
          <!----><span data-v-ed96aad8="" class="datepicker-day-effect"></span><span data-v-ed96aad8=""
            class="datepicker-day-text">11</span>
        </button><button data-v-ed96aad8="" type="button" tabindex="-1"
          class="datepicker-day flex align-center justify-content-center enable">
          <!----><span data-v-ed96aad8="" class="datepicker-day-effect"></span><span data-v-ed96aad8=""
            class="datepicker-day-text">12</span>
        </button><button data-v-ed96aad8="" type="button" tabindex="-1"
          class="datepicker-day flex align-center justify-content-center enable">
          <!----><span data-v-ed96aad8="" class="datepicker-day-effect"></span><span data-v-ed96aad8=""
            class="datepicker-day-text">13</span>
        </button><button data-v-ed96aad8="" type="button" tabindex="-1"
          class="datepicker-day flex align-center justify-content-center enable">
          <!----><span data-v-ed96aad8="" class="datepicker-day-effect"></span><span data-v-ed96aad8=""
            class="datepicker-day-text">14</span>
        </button>

        <button data-v-ed96aad8="" type="button" tabindex="-1"
          class="datepicker-day flex align-center justify-content-center enable">
          <!----><span data-v-ed96aad8="" class="datepicker-day-effect"></span>
          <span data-v-ed96aad8="" class="datepicker-day-text">15
          </span>
        </button>

        <button data-v-ed96aad8="" type="button" tabindex="-1"
          class="datepicker-day flex align-center justify-content-center selected enable">
          <span data-v-ed96aad8="" class="datepicker-today">
          </span>
          <span data-v-ed96aad8="" class="datepicker-day-effect">
          </span>
          <span data-v-ed96aad8="" class="datepicker-day-text">16
          </span>
        </button>

        <button data-v-ed96aad8="" type="button" tabindex="-1"
          class="datepicker-day flex align-center justify-content-center enable">
          <!----><span data-v-ed96aad8="" class="datepicker-day-effect"></span><span data-v-ed96aad8=""
            class="datepicker-day-text">17</span>
        </button><button data-v-ed96aad8="" type="button" tabindex="-1"
          class="datepicker-day flex align-center justify-content-center enable">
          <!----><span data-v-ed96aad8="" class="datepicker-day-effect"></span><span data-v-ed96aad8=""
            class="datepicker-day-text">18</span>
        </button><button data-v-ed96aad8="" type="button" tabindex="-1"
          class="datepicker-day flex align-center justify-content-center enable">
          <!----><span data-v-ed96aad8="" class="datepicker-day-effect"></span><span data-v-ed96aad8=""
            class="datepicker-day-text">19</span>
        </button><button data-v-ed96aad8="" type="button" tabindex="-1"
          class="datepicker-day flex align-center justify-content-center enable">
          <!----><span data-v-ed96aad8="" class="datepicker-day-effect"></span><span data-v-ed96aad8=""
            class="datepicker-day-text">20</span>
        </button><button data-v-ed96aad8="" type="button" tabindex="-1"
          class="datepicker-day flex align-center justify-content-center enable">
          <!----><span data-v-ed96aad8="" class="datepicker-day-effect"></span><span data-v-ed96aad8=""
            class="datepicker-day-text">21</span>
        </button><button data-v-ed96aad8="" type="button" tabindex="-1"
          class="datepicker-day flex align-center justify-content-center enable">
          <!----><span data-v-ed96aad8="" class="datepicker-day-effect"></span><span data-v-ed96aad8=""
            class="datepicker-day-text">22</span>
        </button><button data-v-ed96aad8="" type="button" tabindex="-1"
          class="datepicker-day flex align-center justify-content-center enable">
          <!----><span data-v-ed96aad8="" class="datepicker-day-effect"></span><span data-v-ed96aad8=""
            class="datepicker-day-text">23</span>
        </button><button data-v-ed96aad8="" type="button" tabindex="-1"
          class="datepicker-day flex align-center justify-content-center enable">
          <!----><span data-v-ed96aad8="" class="datepicker-day-effect"></span><span data-v-ed96aad8=""
            class="datepicker-day-text">24</span>
        </button><button data-v-ed96aad8="" type="button" tabindex="-1"
          class="datepicker-day flex align-center justify-content-center enable">
          <!----><span data-v-ed96aad8="" class="datepicker-day-effect"></span><span data-v-ed96aad8=""
            class="datepicker-day-text">25</span>
        </button><button data-v-ed96aad8="" type="button" tabindex="-1"
          class="datepicker-day flex align-center justify-content-center enable">
          <!----><span data-v-ed96aad8="" class="datepicker-day-effect"></span><span data-v-ed96aad8=""
            class="datepicker-day-text">26</span>
        </button><button data-v-ed96aad8="" type="button" tabindex="-1"
          class="datepicker-day flex align-center justify-content-center enable">
          <!----><span data-v-ed96aad8="" class="datepicker-day-effect"></span><span data-v-ed96aad8=""
            class="datepicker-day-text">27</span>
        </button><button data-v-ed96aad8="" type="button" tabindex="-1"
          class="datepicker-day flex align-center justify-content-center enable">
          <!----><span data-v-ed96aad8="" class="datepicker-day-effect"></span><span data-v-ed96aad8=""
            class="datepicker-day-text">28</span>
        </button><button data-v-ed96aad8="" type="button" tabindex="-1"
          class="datepicker-day flex align-center justify-content-center enable">
          <!----><span data-v-ed96aad8="" class="datepicker-day-effect"></span><span data-v-ed96aad8=""
            class="datepicker-day-text">29</span>
        </button><button data-v-ed96aad8="" type="button" tabindex="-1"
          class="datepicker-day flex align-center justify-content-center enable">
          <!----><span data-v-ed96aad8="" class="datepicker-day-effect"></span><span data-v-ed96aad8=""
            class="datepicker-day-text">30</span>
        </button>
        <div data-v-ed96aad8="" class="datepicker-day flex align-center justify-content-center"></div>
        <div data-v-ed96aad8="" class="datepicker-day flex align-center justify-content-center"></div>
        <div data-v-ed96aad8="" class="datepicker-day flex align-center justify-content-center"></div>
        <div data-v-ed96aad8="" class="datepicker-day flex align-center justify-content-center"></div>
      </div>
    </span>
  </div>
</div>