<footer class="footer">
  <div class="footer__wrapper container">
    <div class="footer__wrapper__top">
      <div class="footer__logo-wrapper">
        <div class="footer__logo">
          <img src="./img/logo.svg" alt="Kratom">
        </div>
      </div>
      <ul class="footer__list">
        <li class="footer__item">
          <a href="#" class="footer__link">Buy kratom</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">Guidebook</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">Earn with us</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">Pay/Delivery</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">About us</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">Reviews</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">forum</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">Rewards</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">Contact</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">Faq</a>
        </li>
      </ul>
      <ul class="footer__social-list">
        <li class="footer__social-item">
          <a href="#" class="footer__social__link">
            <span class="icon-fb"></span>
          </a>
        </li>
        <li class="footer__social-item">
          <a href="#" class="footer__social__link">
            <span class="icon-inst"></span>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__wrapper__down">
      <p class="footer__copyright">Copyright © 2020</p>
      <a href="#" class="footer__down-link">Terms & Conditions</a>
      <a href="#" class="footer__down-link">Privacy Policy</a>
    </div>
  </div>
</footer>