<header class="header">
  <a href="#" class="header__logo">
    <img src="./img/logo.png" alt="Kratom">
  </a>
  <nav class="header__nav">
    <span class="general-decor-elem"></span>
    <ul class="header__list">
      <li class="header__item">
        <a href="#" class="header__link">Buy kratom</a>
      </li>
      <li class="header__item header__item-hide-tablet">
        <a href="#" class="header__link">Guidebook</a>
      </li>
      <li class="header__item">
        <a href="#" class="header__link">Earn with us</a>
      </li>
      <li class="header__item header__item-hide-tablet">
        <a href="#" class="header__link">Pay/Delivery</a>
      </li>
      <li class="header__item">
        <a href="#" class="header__link">Contact</a>
      </li>
      <li class="header__item header__item__drop js-drop-item">
        <div class="wrapper js-drop-button">
          <a class="text">Menu</a>
          <span class="icon-drop"></span>
        </div>
        <ul class="header__drop-list">
          <li class="header__drop-item">
            <a href="#" class="header__drop-link">forum</a>
          </li>
          <li class="header__drop-item">
            <a href="#" class="header__drop-link">About us</a>
          </li>
          <li class="header__drop-item">
            <a href="#" class="header__drop-link">Reviews</a>
          </li>
          <li class="header__drop-item">
            <a href="#" class="header__drop-link">Faq</a>
          </li>
        </ul>
      </li>
    </ul>
    <button class="header__close-nav">
      <span class="icon-close"></span>
    </button>
  </nav>
  <div class="header__nav-profile">
    <div class="header__search js-drop-item">
      <form action="#" class="header__search-form">
        <input type="text" class="header__search__input" placeholder="search">
        <button class="header__search__button">
          <span class="icon-search"></span>
        </button>
      </form>
      <div class="header__livesearch">
        <ul class="header__livesearch-list">
          <li class="header__livesearch-item">
            <a href="#" class="header__livesearch-link">maeng da green vein</a>
          </li>
          <li class="header__livesearch-item">
            <a href="#" class="header__livesearch-link">maeng da green vein</a>
          </li>
        </ul>
      </div>
      <button class="header__search__button js-drop-button">
        <span class="icon-search"></span>
      </button>
    </div>
    <div class="header__nav-profile__item">
      <a href="#">
        <span class="icon-profile"></span>
      </a>
    </div>
    <div class="header__nav-profile__item header__nav-profile__item-cart">
      <button class="js-button" data-target="noty-cart">
        <span class="icon-cart"></span>
      </button>
      <span class="decor-cart"></span>
    </div>
    <div class="header__nav-profile__item header__nav-profile__item-burger">
      <button class="header__burger">
        <span class="decor"></span>
      </button>
    </div>
  </div>
</header>