<section class="popup popup-change-pass" data-target="change-pass">
  <button class="close__popup js-close">
    <span class="icon-close"></span>
  </button>
  <h4 class="popup-caption">set new password</h4>
  <div class="popup__header">
    <p class="email">for <span>name.name@mail.com</span></p>
    <ul class="popup-check__list">
      <li class="popup-check__item">
        <span class="decor">
          <soan class="icon-active"></soan>
        </span>
        <span class="text">Min 8 characters</span>
      </li>
      <li class="popup-check__item active">
        <span class="decor">
          <soan class="icon-active"></soan>
        </span>
        <span class="text">1 Letter</span>
      </li>
      <li class="popup-check__item">
        <span class="decor">
          <soan class="icon-active"></soan>
        </span>
        <span class="text">1 Number</span>
      </li>
    </ul>
  </div>
  <div class="popup__body">
    <label class="input__wrapper js-input-wrapper">
      <input type="password" class="main-input js-input">
      <span class="custome-placeholder__wrapper">
        <span class="custome-placeholder__before"></span>
        <span class="custome-placeholder__text">
          <span class="inner-text">New Password</span>
        </span>
        <span class="custome-placeholder__after"></span>
      </span>
      <button type="button" class="show-password">
        <span class="icon-show-pass"></span>
      </button>
    </label>
    <label class="input__wrapper js-input-wrapper">
      <input type="password" class="main-input js-input">
      <span class="custome-placeholder__wrapper">
        <span class="custome-placeholder__before"></span>
        <span class="custome-placeholder__text">
          <span class="inner-text">Confirm Password</span>
        </span>
        <span class="custome-placeholder__after"></span>
      </span>
      <button type="button" class="show-password">
        <span class="icon-show-pass"></span>
      </button>
    </label>
    <button class="main-button-color main-button-color-popup">
      <span class="text">set new password</span>
    </button>
  </div>
</section>