<section class="popup popup-noty-cart" data-target="noty-cart">
  <div class="popup-noty-cart__header">
    <button class="general-more js-close">
      <span class="icon-arrow-left"></span>
      <span class="text">back</span>
    </button>
    <h3 class="main-caption">cart</h3>
  </div>
  <div class="popup-noty-cart__body">
    <ul class="popup-noty-cart__list">
      <li class="popup-noty-cart__item">
        <div class="popup-noty-cart__img">
          <img src="./img/product-img-1.png" alt="Продукт">
        </div>
        <div class="popup-noty-cart__info">
          <h5 class="name">maeng da green vein kratom</h5>
          <p class="info">
            <span class="weight">50g</span>
            <span>x</span>
            <span class="calc">1</span>
          </p>
          <div class="info__footer">
            <p class="price"> USD <span>20</span></p>
            <button class="delete-button">
              <span class="icon-delete"></span>
            </button>
          </div>
        </div>
      </li>
      <li class="popup-noty-cart__item">
        <div class="popup-noty-cart__img">
          <img src="./img/product-img-1.png" alt="Продукт">
        </div>
        <div class="popup-noty-cart__info">
          <h5 class="name">maeng da green vein kratom</h5>
          <p class="info">
            <span class="weight">50g</span>
            <span>x</span>
            <span class="calc">1</span>
          </p>
          <div class="info__footer">
            <p class="price"> USD <span>20</span></p>
            <button class="delete-button">
              <span class="icon-delete"></span>
            </button>
          </div>
        </div>
      </li>
      <li class="popup-noty-cart__item">
        <div class="popup-noty-cart__img">
          <img src="./img/product-img-1.png" alt="Продукт">
        </div>
        <div class="popup-noty-cart__info">
          <h5 class="name">maeng da green vein kratom</h5>
          <p class="info">
            <span class="weight">50g</span>
            <span>x</span>
            <span class="calc">1</span>
          </p>
          <div class="info__footer">
            <p class="price"> USD <span>20</span></p>
            <button class="delete-button">
              <span class="icon-delete"></span>
            </button>
          </div>
        </div>
      </li>
      <li class="popup-noty-cart__item">
        <div class="popup-noty-cart__img">
          <img src="./img/product-img-1.png" alt="Продукт">
        </div>
        <div class="popup-noty-cart__info">
          <h5 class="name">maeng da green vein kratom</h5>
          <p class="info">
            <span class="weight">50g</span>
            <span>x</span>
            <span class="calc">1</span>
          </p>
          <div class="info__footer">
            <p class="price"> USD <span>20</span></p>
            <button class="delete-button">
              <span class="icon-delete"></span>
            </button>
          </div>
        </div>
      </li>
      <li class="popup-noty-cart__item">
        <div class="popup-noty-cart__img">
          <img src="./img/product-img-1.png" alt="Продукт">
        </div>
        <div class="popup-noty-cart__info">
          <h5 class="name">maeng da green vein kratom</h5>
          <p class="info">
            <span class="weight">50g</span>
            <span>x</span>
            <span class="calc">1</span>
          </p>
          <div class="info__footer">
            <p class="price"> USD <span>20</span></p>
            <button class="delete-button">
              <span class="icon-delete"></span>
            </button>
          </div>
        </div>
      </li>
      <li class="popup-noty-cart__item">
        <div class="popup-noty-cart__img">
          <img src="./img/product-img-1.png" alt="Продукт">
        </div>
        <div class="popup-noty-cart__info">
          <h5 class="name">maeng da green vein kratom</h5>
          <p class="info">
            <span class="weight">50g</span>
            <span>x</span>
            <span class="calc">1</span>
          </p>
          <div class="info__footer">
            <p class="price"> USD <span>20</span></p>
            <button class="delete-button">
              <span class="icon-delete"></span>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="popup-noty-cart__footer js-drop-item">
    <button class="popup-noty-cart__open-button js-drop-button"></button>
    <div class="total__wrapper">
      <div class="total__item">
        <p class="type">subtotal</p>
        <p class="description">usd 40</p>
      </div>
      <div class="total__item">
        <p class="type">Bonuses used</p>
        <p class="description">usd 0</p>
      </div>
      <div class="total__item">
        <p class="type">shipping</p>
        <p class="description">usd 0</p>
      </div>
      <div class="total__item total__item-general">
        <p class="type">total</p>
        <p class="description">usd 40</p>
      </div>
    </div>
    <a href="#" class="main-button-color popup-noty-cart__button">
      <span class="text">checkout</span>
    </a>
    <a href="#" class="main-button popup-noty-cart__button">
      <span class="text">edit</span>
    </a>
  </div>
</section>