<ul class="profile__sidebar-list">
  <li class="profile__sidebar-item">
    <a class="profile__sidebar-link" href="#">
      <span class="icon-wishlist"></span>
      <span class="text">wish list</span>
    </a>
  </li>

  <li class="profile__sidebar-item">
    <a href="#" class="profile__sidebar-link">
      <span class="icon-order"></span>
      <span class="text">order history</span>
    </a>
  </li>

  <li class="profile__sidebar-item">
    <a href="#" class="profile__sidebar-link">
      <span class="icon-referral"></span>
      <span class="text">payment information</span>
    </a>
  </li>

  <li class="profile__sidebar-item">
    <a href="#" class="profile__sidebar-link">
      <span class="icon-home"></span>
      <span class="text">addresess</span>
    </a>
  </li>

  <li class="profile__sidebar-item">
    <a href="#" class="profile__sidebar-link active">
      <span class="icon-network"></span>
      <span class="text">referral network</span>
    </a>
  </li>

  <li class="profile__sidebar-item">
    <a href="#" class="profile__sidebar-link">
      <span class="icon-account"></span>
      <span class="text">account settings</span>
    </a>
  </li>

  <li class="profile__sidebar-item">
    <button class="profile__sidebar-link js-button" data-target="logout">
      <span class="icon-logout"></span>
      <span class="text">logout</span>
    </button>
  </li>
</ul>