<div class="menu-transactions">
  <ul class="general-tabs__list general-tabs__list--transactions">
    <li class="general-tabs__item active">all transactions</li>
    <li class="general-tabs__item">referal transactions</li>
    <li class="general-tabs__item">my cards</li>
    <li class="general-tabs__item">subscription purchases</li>
    <li class="general-tabs__item">discount</li>
  </ul>
</div>

<!-- 
  <li class="menu-transactions__item active">
    <a class="menu-transactions__link" href="#">
      all transactions
    </a>
  </li>

  <li class="menu-transactions__item active">
    <a class="menu-transactions__link" href="#">
      referal transactions
    </a>
  </li>

  <li class="menu-transactions__item active">
    <a class="menu-transactions__link" href="#">
      my cards
    </a>
  </li>

  <li class="menu-transactions__item active">
    <a class="menu-transactions__link" href="#">
      subscription purchases
    </a>
  </li>
  <li class="menu-transactions__item active">
    <a class="menu-transactions__link" href="#">
      discount
    </a>
  </li> -->