<div class="card-discount style-card">
  <svg class="card-discount__icon">
    <use xlink:href="sprite/sprite.svg#payinfo-bonuses"></use>
  </svg>

  <div class="card-discount__inner">
    <div class="card-discount__item">
      <p class="card-discount__text">
        Your bonuses
      </p>
      <span>usd
        <span class="card-discount__count">50</span>
      </span>
    </div>

    <div class="card-discount__item">
      <p class="card-discount__text">
        Referral bonuses
      </p>
      <span>usd
        <span class="card-discount__count">20</span>
      </span>
    </div>

    <div class="card-discount__item">
      <p class="card-discount__text">
        Bonuses for reviews
      </p>
      <span>usd
        <span class="card-discount__count">30</span>
      </span>
    </div>
  </div>
</div>

<div class="card-discount style-card">
  <svg class="card-discount__icon">
    <use xlink:href="sprite/sprite.svg#payinfo-discount"></use>
  </svg>

  <div class="card-discount__inner">
    <div class="card-discount__item">
      <p class="card-discount__text">
        Your discount
      </p>
      <span>
        <span class="card-discount__count">10</span>%
      </span>
    </div>

    <div class="card-discount__item">
      <p class="card-discount__text">
        For all products from the category kratom
      </p>
    </div>

  </div>
</div>