<div class="profile__sort-products input__wrapper js-input-wrapper js-drop-item general-drop">
  <input type="text" class="main-input js-input js-drop-input js-drop-button" readonly required>
  <span class="custome-placeholder__wrapper">

    <span class="custome-placeholder__text">

      <span class="inner-text">
        <img class="custome-placeholder__img" src="./img/product-img-1.png" alt="product icon">
        <p class="custome-placeholder__desc">Maeng da green vein kratom
        </p>
        <span>*</span>

      </span>
    </span>

  </span>

  <span class="icon-drop"></span>

  <div class="general-drop__list">
    <div class="general-drop__item">
      <form action="#" class="general-drop__search-form">
        <input type="search" class="general-drop__search__input" placeholder="Search">
        <button class="general-drop__search__button">
          <span class="icon-search"></span>
        </button>
      </form>
    </div>

    <div class="general-drop__item js-drop-contains">
      <span class="icon-active"></span>
      <img class="custome-placeholder__img" src="./img/product-img-1.png" alt="product icon">
      <div class="text custome-placeholder__desc">Maeng da green vein kratom</div>
    </div>
  </div>
</div>