<div class="delivery-adress">
  <div class="delivery-adress__row">
    <div class="delivery-country input__wrapper js-input-wrapper js-drop-item general-drop">
      <input type="text" class="main-input js-input js-drop-input js-drop-button" readonly required>
      <span class="custome-placeholder__wrapper">
        <span class="custome-placeholder__before"></span>
        <span class="custome-placeholder__text">
          <span class="inner-text">Country / Region<span>*</span></span>
        </span>
        <span class="custome-placeholder__after"></span>
      </span>

      <span class="icon-drop"></span>

      <div class="general-drop__list">
        <div class="general-drop__item general-drop__item-select">
          <div class="text">Please select</div>
        </div>

        <div class="general-drop__item js-drop-contains">
          <span class="icon-active"></span>
          <div class="text">other Country</div>
        </div>
      </div>
    </div>

    <label class="delivery-adress__city" for="city">
      <input id="city" class="delivery-adress__input main-input input__wrapper" type="text" placeholder="Town / City*">
    </label>
  </div>

  <div class="delivery-adress__row">
    <label class="delivery-adress__state" for="state">
      <input id="state" class="delivery-adress__input main-input input__wrapper" type="text" placeholder="State *">
    </label>

    <label class="delivery-adress__street" for="street">
      <input id="street" class="delivery-adress__input main-input input__wrapper" type="text"
        placeholder="Street Number / Street Name*">
    </label>
  </div>

  <div class="delivery-adress__row">
    <label class="delivery-adress__apartament" for="apartament">
      <input id="apartament" class="delivery-adress__input main-input input__wrapper" type="text"
        placeholder="Apartment or Suite Number">
    </label>

    <label class="delivery-adress__zip" for="zip">
      <input id="zip" class="delivery-adress__input main-input input__wrapper" type="text" placeholder="zip">
    </label>
  </div>
</div>