<div class="profile__choose-card input__wrapper js-input-wrapper js-drop-item general-drop">
  <input type="text" class="main-input js-input js-drop-input js-drop-button" readonly required>
  <span class="custome-placeholder__wrapper">
    <!-- <span class="custome-placeholder__before"></span> -->
    <span class="custome-placeholder__text custome-placeholder__text--choose-card">
      <img src="./icons/mastercard-icon.svg" alt="icon mastercard">
      <span class="inner-text">Mastercard **** 5603</span>
    </span>
    <!-- <span class="custome-placeholder__after"></span> -->
  </span>

  <span class="icon-drop"></span>

  <div class="general-drop__list">
    <div class="general-drop__item general-drop__item-select">
      <div class="text">Please select</div>
    </div>

    <div class="general-drop__item js-drop-contains">
      <span class="icon-active"></span>
      <div class="text">other cards</div>
    </div>
  </div>
</div>