<div class="card-main style-card">
  <div class="card-main__inner">
    <p class="card-main__text">Mastercard **** </p><span>5603</span>
  </div>

  <a class="card-main__desc" href="#">Make the main card
    <span class="icon-delete"></span>
  </a>

</div>

<div class="card-main style-card">
  <div class="card-main__inner">
    <p class="card-main__text">Mastercard **** </p><span>5603</span>
  </div>

  <a class="card-main__desc" href="#">Make the main card
    <span class="icon-delete"></span>
  </a>
</div>