<div class="profile__info profile__info--cards">
  <div class="profile__meta profile__meta--cards">
    <h2 class="profile__sub-title profile__sub-title--cards sub-title">main card</h2>

    <div class="profile__cards">

      @@include('../components/_profile-card_main.html')

    </div>

  </div>

  <div class="profile__meta profile__meta--cards">
    <div class="profile__meta-inner">
      <h2 class="profile__sub-title profile__sub-title--cards sub-title">your cards</h2>

      <a class="profile__link profile__link--cards main-button-black" href="#">
        <div class="plus"></div>
        <span>add card</span>
      </a>
    </div>

    <div class="profile__cards">

      @@include('../components/_profile-card_your.html')

    </div>
  </div>
</div>